openapi: 3.0.3
info:
  title: DietiEstates25 API
  version: 0.2.0
  description: >
    Real Estate Management API: agencies, users, agents, properties,
    login, evaluations, and advanced search.

servers:
  - url: https://api.dietiesates25.com
    description: Production server
  - url: http://localhost:8080
    description: Local development

tags:
  - name: Auth
    description: Authentication endpoints
  - name: Users
    description: Customer operations
  - name: Agents
    description: Agent management and public profiles
  - name: Properties
    description: Real estate listings management
  - name: Evaluations
    description: Agent reviews

paths:
  /auth/register:
    post:
      tags: [Auth]
      summary: Register a new customer user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        "201": { description: User registered successfully }
        "409": { description: Email already registered }
        "400": { description: Invalid request }
        "500": { description: Server error }

  /auth/login:
    post:
      tags: [Auth]
      summary: User login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        "200":
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        "401": { description: Invalid credentials }
        "400": { description: Invalid request }
        "500": { description: Server error }

  /users/me:
    get:
      tags: [Users]
      summary: Get authenticated user profile
      security: [ { bearerAuth: [] } ]
      responses:
        "200":
          description: User details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        "401": { description: Unauthorized }
        "500": { description: Server error }

    put:
      tags: [Users]
      summary: Update authenticated user profile
      security: [ { bearerAuth: [] } ]
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserUpdateRequest'
      responses:
        "200": { description: Profile updated }
        "400": { description: Invalid request }
        "401": { description: Unauthorized }
        "500": { description: Server error }

  /agents:
    post:
      tags: [Agents]
      summary: Create a new agent (Admin only)
      security: [ { bearerAuth: [] } ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentCreateRequest'
      responses:
        "201": { description: Agent created }
        "403": { description: Forbidden }
        "400": { description: Invalid request }
        "500": { description: Server error }

  /agents/{id}:
    get:
      tags: [Agents]
      summary: Get agent public profile
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        "200":
          description: Agent details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
        "404": { description: Agent not found }
        "500": { description: Server error }

    put:
      tags: [Agents]
      summary: Update agent profile (Admin or Self)
      security: [ { bearerAuth: [] } ]
      parameters:
        - $ref: '#/components/parameters/Id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentUpdateRequest'
      responses:
        "200": { description: Agent updated }
        "404": { description: Agent not found }
        "403": { description: Forbidden }
        "500": { description: Server error }

  /agents/{id}/evaluations:
    post:
      tags: [Evaluations]
      summary: Add a review for an agent
      security: [ { bearerAuth: [] } ]
      parameters:
        - $ref: '#/components/parameters/Id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EvaluationRequest'
      responses:
        "201": { description: Evaluation created }
        "404": { description: Agent not found }
        "500": { description: Server error }

    get:
      tags: [Evaluations]
      summary: Get evaluations for an agent
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        "200":
          description: List of evaluations
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Evaluation'
        "404": { description: Agent not found }
        "500": { description: Server error }

  /properties:
    get:
      tags: [Properties]
      summary: Search properties with filters
      parameters:
        - $ref: '#/components/parameters/City'
        - $ref: '#/components/parameters/PriceMin'
        - $ref: '#/components/parameters/PriceMax'
        - $ref: '#/components/parameters/Rooms'
        - $ref: '#/components/parameters/GeoLat'
        - $ref: '#/components/parameters/GeoLon'
        - $ref: '#/components/parameters/GeoRadius'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
      responses:
        "200":
          description: List of properties
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Property'
        "500": { description: Server error }

    post:
      tags: [Properties]
      summary: Create a new property (Agent only)
      security: [ { bearerAuth: [] } ]
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PropertyCreateRequest'
      responses:
        "201":
          description: Property created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Property'
        "403": { description: Forbidden }
        "400": { description: Invalid request }
        "500": { description: Server error }

  /properties/{id}:
    get:
      tags: [Properties]
      summary: Get property details
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        "200":
          description: Property details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Property'
        "404": { description: Property not found }
        "500": { description: Server error }

    put:
      tags: [Properties]
      summary: Update property (Owner Agent or Admin)
      security: [ { bearerAuth: [] } ]
      parameters:
        - $ref: '#/components/parameters/Id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PropertyUpdateRequest'
      responses:
        "200": { description: Property updated }
        "404": { description: Property not found }
        "403": { description: Forbidden }
        "500": { description: Server error }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    Id:
      name: id
      in: path
      required: true
      schema: { type: integer }
    City:
      name: city
      in: query
      schema: { type: string }
    PriceMin:
      name: minPrice
      in: query
      schema: { type: number }
    PriceMax:
      name: maxPrice
      in: query
      schema: { type: number }
    Rooms:
      name: rooms
      in: query
      schema: { type: integer }
    GeoLat:
      name: lat
      in: query
      schema: { type: number }
    GeoLon:
      name: lon
      in: query
      schema: { type: number }
    GeoRadius:
      name: radius
      in: query
      schema: { type: number, description: range in km }
    Page:
      name: page
      in: query
      schema: { type: integer, default: 0, minimum: 0 }
    Limit:
      name: limit
      in: query
      schema: { type: integer, default: 20, minimum: 1, maximum: 100 }

  schemas:

    User:
      type: object
      properties:
        id: { type: integer }
        email: { type: string }
        firstName: { type: string }
        lastName: { type: string }

    UserUpdateRequest:
      type: object
      properties:
        firstName: { type: string }
        lastName: { type: string }
        email: { type: string }

    RegisterRequest:
      type: object
      required: [email, password]
      properties:
        email: { type: string }
        password: { type: string }

    LoginRequest:
      type: object
      required: [email, password]
      properties:
        email: { type: string }
        password: { type: string }

    AuthResponse:
      type: object
      properties:
        token: { type: string }
        user: { $ref: '#/components/schemas/User' }

    # --- AGENT SCHEMAS ---
    Agent:
      type: object
      properties:
        id: { type: integer }
        firstName: { type: string }
        lastName: { type: string }
        biography: { type: string }
        profilePhoto: { type: string }

    AgentCreateRequest:
      type: object
      required: [firstName, lastName]
      properties:
        firstName: { type: string }
        lastName: { type: string }
        biography: { type: string }
        profilePhoto: { type: string }

    AgentUpdateRequest:
      type: object
      properties:
        firstName: { type: string }
        lastName: { type: string }
        biography: { type: string }
        profilePhoto: { type: string }

    # --- EVALUATION SCHEMAS ---
    Evaluation:
      type: object
      properties:
        id: { type: integer }
        score: { type: integer, minimum: 1, maximum: 5 }
        comment: { type: string }
        date: { type: string, format: date-time }

    EvaluationRequest:
      type: object
      required: [score]
      properties:
        score: { type: integer, minimum: 1, maximum: 5 }
        comment: { type: string }

    Property:
      type: object
      properties:
        id: { type: integer }
        title: { type: string }
        description: { type: string }
        price: { type: number }
        type:
           type: string
           enum: [sale, rent]
        city: { type: string }
        rooms: { type: integer }
        floor: { type: integer } 
        elevator: { type: boolean } 
        energyClass: { type: string }
        latitude: { type: number }
        longitude: { type: number }
        amenities:
          type: array
          items: { type: string }
        photos:
          type: array
          items: { type: string }

    PropertyCreateRequest:
      type: object
      required: [title, price, type]
      properties:
        title: { type: string }
        description: { type: string }
        price: { type: number }
        type:
          type: string
          enum: [sale, rent]
        city: { type: string }
        rooms: { type: integer }
        floor: { type: integer }
        elevator: { type: boolean }
        energyClass: { type: string }
        amenities:
          type: array
          items: { type: string }
        photos:
          type: array
          items: { type: string }

    PropertyUpdateRequest:
      type: object
      properties:
        title: { type: string }
        description: { type: string }
        price: { type: number }
        type: { type: string, enum: [sale, rent] }
        city: { type: string }
        rooms: { type: integer }
        amenities:
          type: array
          items: { type: string }
        photos:
          type: array
          items: { type: string }